<h2>Owner List</h2>
<div style="display: flex;">
    <div style="display: flex" *ngFor="let owner of owners; let i = index">
        <div>
            <a [routerLink]="['/owner-edit', owner.dni ]">
                <mat-card>
                    <mat-card-title> {{owner.name}}</mat-card-title>
                    <mat-card-subtitle> {{owner.dni}}</mat-card-subtitle>
                    <mat-card-content>
                        {{owner.profession}}
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
        <div>
            <mat-checkbox [(ngModel)]="owner.checked" (change)="changeCheckBoxEvent($event, i)"></mat-checkbox>
        </div>

    </div>
</div>
<br>
<button mat-fab color="primary" [routerLink]="['/owner-add']">Add</button>
<button mat-fab color="warn" *ngIf="indexOwners.size" (click)="deleteOwners()">Delete</button>